server {
    server_name {{ company_name }}tg.ismacloud.ru;

    location / {
        proxy_pass http://192.168.0.69;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_read_timeout 90;
    }

    error_page 502 /502.html;
    location = /502.html {
        root /usr/share/nginx/html;
        internal;
    }

    listen 443 ssl;
    ssl_certificate /etc/letsencrypt/live/{{ company_name }}.ismacloud.ru/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ company_name }}.ismacloud.ru/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
}

server {
    server_name {{ company_name }}.ismacloud.ru;

    location / {
        proxy_pass http://192.168.0.69;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_read_timeout 90;
    }

    location /nodeApi {
        proxy_pass http://192.168.0.69;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }

    error_page 502 /502.html;
    location = /502.html {
        root /usr/share/nginx/html;
        internal;
    }

    listen 443 ssl;
    ssl_certificate /etc/letsencrypt/live/{{ company_name }}.ismacloud.ru/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ company_name }}.ismacloud.ru/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
}

server {
    server_name {{ company_name }}api.ismacloud.ru;

    location / {
        proxy_pass http://192.168.0.69;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_read_timeout 86400s;
        proxy_send_timeout 86400s;
        proxy_buffering off;
        proxy_cache_bypass $http_upgrade;
    }

    error_page 502 /502.html;
    location = /502.html {
        root /usr/share/nginx/html;
        internal;
    }

    listen 443 ssl;
    ssl_certificate /etc/letsencrypt/live/{{ company_name }}.ismacloud.ru/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ company_name }}.ismacloud.ru/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
}

server {
    if ($host = {{ company_name }}.ismacloud.ru) {
        return 301 https://$host$request_uri;
    }

    listen 80;
    server_name {{ company_name }}.ismacloud.ru;
    return 404;
}

server {
    if ($host = {{ company_name }}api.ismacloud.ru) {
        return 301 https://$host$request_uri;
    }

    listen 80;
    server_name {{ company_name }}api.ismacloud.ru;
    return 404;
}
server {
    if ($host = {{ company_name }}tg.ismacloud.ru) {
        return 301 https://$host$request_uri;
    }

    listen 80;
    server_name {{ company_name }}tg.ismacloud.ru;
    return 404;
}